body {
    background-color: darkred;
}

.clock{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 8vh;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    margin-top: -2vh;
    font-family: system-ui;
}

.jsClockText{
    font-size: 6vh;
    margin-top:4vh;
}

.todo-app-container{
    display: flex;
    height:66vh;
    width:66vw;
    /* border: 2px solid blue; */
    justify-content: flex-start; 
    margin-left: 15vw;
    font-size:4vh;
    flex-direction: column;
    padding-top: 4vw;
    margin-top: -4.5vh;
}


.todo-title{
    display: flex;
    height: 10vh;
    width:54vw;
    border: 4px solid black;
    border-bottom: none;
    justify-content: center; 
    align-items: center;
    /* margin-top: 4vw; */
    background-color:bisque;
    margin: 0vh 0vh 0vh 5vw;
    padding-left: 1.5vw;
    box-shadow: -4px 4px 4px black;
}

.todo-title h2{
    font-size:6vh;
}

 .tasks-area{
    display: flex;
    background-color: bisque;
    border: 4px solid black;
    height:56vh;
    box-shadow: -4px 4px 4px black;
    box-shadow: inset 6px 6px 9px black;
    justify-content: center;
} 

#postButton{
    justify-content: center;
    align-items: center;
    height: 4vh;
}