body {
    background-image: url("starNight.jpg");
}

.clock{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 8vh;
    /* border: 2px solid blue; */
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}

.jsClockText{
    font-size: 6vh;
    margin-top:4vh;
    text-shadow: 1vh 1vw 1vh black;
}

.todo-app-container{
    display: flex;
    height:66vh;
    width:66vw;
    /* border: 2px solid blue; */
    justify-content: flex-start; 
    margin-left: 15vw;
    font-size:4vh;
    flex-direction: column;
    padding-top: 4vw;
    margin-top: -4.5vh;
}


.todo-title{
    display: flex;
    height: 10vh;
    width:54vw;
    border: 4px solid black;
    border-bottom: none;
    justify-content: center; 
    align-items: center;
    /* margin-top: 4vw; */
    background-color:bisque;
    margin: 0vh 0vh 0vh 5vw;
    padding-left: 1.5vw;
    box-shadow: -4px 4px 4px black;
}

.todo-title h2{
    font-size:6vh;
}

.tasks-area{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    border: 4px solid black;
    height:56vh;
    box-shadow: -4px 4px 4px black;
    box-shadow: inset 6px 6px 9px black;
} 

#postButton{
    justify-content: center;
    align-items: center;
    height: 4vh;
    border: 0.5vh solid black;
    border-radius: 0.5vh;
    background-color:aqua;
}

#postButton:hover{
    animation: hoverButton 0.2s forwards;
}

@keyframes hoverButton{
    from {background-color: aqua;}
    to {background-color: rgb(0, 200, 200);}
}

.postClass{ 
    border: 0.2vw solid black;
    border-radius: 1vw;
    height: 8vh;
    width: 54vw;
    background-color: antiquewhite;
    display: flex;
    /* justify-content: left; */
    padding-left: 1vw;
    align-items: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 4vh;
    justify-content: space-between;
    padding-right: 1vw;
    margin: 2vh 4.5vw;
    flex: 1;
    /* animation-name: reverseHoverTask 1s infinite; */
}

.postClass:hover{
    animation: hoverTask 0.8s forwards;
}

@keyframes hoverTask{
    to {
        width: 58vw;
        height: 10vh;
    }
}
/* @keyframes reverseHoverTask{
    from {
        width: 58vw;
        height: 10vh;
    }
    to {
        width: 54vw;
        height: 8vh;
    }
} */

#postData{
    display: absolute;
    height: 8vh;
    /* border: 2px solid yellow; */
    margin-top: 2vh;
    margin-left: 25vw;
    text-align: center;
    /* justify-content: center; */
}

.tasks-head{
    align-items: center;
    justify-content: center;
    /* border: 4px solid purple; */
}

.stopButton{
    border: 0.2vw solid black;
    background-color: red;
    border-radius: 100vw;
    color: white;
    font-size: 2vh;
    /* text-align: right; 
    justify-content: flex-end; */
}
.stopButton:hover{
    animation: stopHover 0.2s forwards;
}

@keyframes stopHover{
    to {
        background-color: darkred;
    }
}